/* 全体 */
p {
  line-height: 2.5em;
}

li {
  line-height: 2em;
}

.head-font {
  font-size: 45px;
}

.color-font {
  color: #000 !important;
}

.color-font:hover {
  opacity: 0.7 !important;
}

/* アラート */
.line-icon {
  color: #00B900;
}

/* ナビバー */
.container-nav {
  margin: 0 !important;
  padding: 0 !important;
}

/* トップ画面 */
.container-top {
  background: url(img/bg3.png);
  background-size: cover;
}

.container-top > h1 {
  font-size: 100px;
  letter-spacing: 6px;
  font-weight: bold;
}

/* dogsalon peleとは？ */
h3 {
  line-height: 4em;
}

/* SNS */
.pele3-1 {
  border: #3C5A99 solid 10px;
  }

.pele3-2 {
  border: #CF2E92 solid 10px;
  }

.pele3-3 {
  border: #2d8c3c solid 10px;
  }

.sns a {
  text-decoration: none;
}

.sns a:hover {
  opacity: 0.7;
}
